<li>
    <a asp-controller="Home" asp-action="Index"><i class="l-basic-laptop"></i><span class="txt">Dashboard</span></a>
</li>

<li>
    <a href="#"><i class="l-ecommerce-graph1"></i> <span class="txt">Demo - Rotas</span></a>
    <ul class="sub">
        <li>
            <a asp-controller="Home" asp-action="Index"><span class="txt">Home</span></a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Icones"><span class="txt">Icones</span></a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Privacy"><span class="txt">Privacidade </span></a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Error"><span class="txt">Erro </span></a>
        </li>
    </ul>
</li>

<li>
    <a asp-controller="Carrinho" asp-action="Index"><i class="l-basic-anchor"></i><span class="txt">Carrinho</span></a>
</li>

<li>
    <a asp-controller="Paciente" asp-action="Index"><i class="l-basic-chronometer"></i><span class="txt">Pacientes</span></a>
</li>

<li>
    <a asp-controller="EstadoPaciente" asp-action="Index"><i class="l-basic-accelerator"></i><span class="txt">Estado Pacientes</span></a>
</li>

<li>
    <a href="#"><i class="l-ecommerce-graph1"></i> <span class="txt">Produtos</span></a>
    <ul class="sub">
        <li>
            <a asp-controller="Produto" asp-action="Index"><span class="txt">Produtos</span></a>
        </li>
        <li>
            <a asp-controller="Produto" asp-action="Lista"><span class="txt">Lista de Produtos</span></a>
        </li>
    </ul>
</li>

<li>
    <a href="#"><i class="l-basic-notebook-pen"></i> <span class="txt">Auditoria</span></a>
    <ul class="sub">
        <li>
            <a asp-controller="Logger" asp-action="Index"><span class="txt">Auditoria</span></a>
        </li>
        <li>
            <a href="https://kisslog.net/" target="_blank"><span class="txt">Kisslog</span></a>
        </li>
    </ul>
</li>